LETSENCRYPT_EMAIL=progbot.clover@gmail.com

APP_DOMAIN=app.reachtrail.riumu.net
API_DOMAIN=api.reachtrail.riumu.net
DOWNLOAD_DOMAIN=download.reachtrail.riumu.net

APP_IMAGE=nginx:1.29-alpine
API_IMAGE=ghcr.io/torifo/reachtrail-api:latest
DOWNLOAD_IMAGE=nginx:1.29-alpine

APP_ROOT=/home/ubuntu/app/reachtrail/app
DOWNLOAD_ROOT=/home/ubuntu/app/reachtrail/download
API_DATA_ROOT=/home/ubuntu/app/reachtrail/api-data

ALLOWED_ORIGINS=https://app.reachtrail.riumu.net
GOOGLE_ALLOWED_CLIENT_IDS=823224608668-trbi6qgpsmsn2o8qika1bbf8o30ihqpd.apps.googleusercontent.com,823224608668-a9tomojqjsh6tsi39igs6i3kniah43oi.apps.googleusercontent.com
SESSION_SECRET=change-me
YAHOO_API_KEY=
